@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --color-principal: rgb(118, 8, 76);
    --fuente: 'DM Serif Display', serif;
    --sombra-caja: 2px 2px 8px lightgray;
}

body {
    background-color: #f8f5f2;
}